@tailwind base;
@tailwind components;
@tailwind utilities;


/* webkit */

::-webkit-scrollbar {
  width: 10px;
  height: 15px;
}

::-webkit-search-cancel-button {
  display: none;
}

/* Scrollbars style */

@layer components {
  .scrollbar::-webkit-scrollbar {
    height: 6px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: white;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 100vh;
  }
}

/* font */

body {
  font-family: 'Montserrat', sans-serif;
}