@tailwind base;
@tailwind components;
@tailwind utilities;

/* webkit */

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-search-cancel-button {
  display: none;
}

/* font */

body {
  font-family: 'Montserrat', sans-serif;
}