@tailwind base;
@tailwind components;
@tailwind utilities;


/* webkit */


::-webkit-scrollbar {
  width: 0.2em;
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  background-color: #615043;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

/* Scrollbars style */

@layer components {
  .scrollbar::-webkit-scrollbar {
    height: 6px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: white;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 100vh;
  }
}

/* font */

body {
  font-family: 'Montserrat', sans-serif;
}